name: Build All

on: [push]

env:
  GH_JAVA_VERSION: "11"
  GH_SCALA_BINARY_VERSION: "2.12"
  GH_JAVA_DISTRIBUTION: "temurin"
  GH_JAVA_OPTS: "-Xss64m -Xms1024m -Xmx8G -XX:MaxMetaspaceSize=2G -XX:MaxInlineLevel=18"

jobs:

  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        scala:
          - { binary-version: "2.12", java-version: "11", java-distribution: "temurin",  coveralls: "coveralls" }

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: ${{ env.GH_JAVA_VERSION }}
          distribution: ${{ env.GH_JAVA_DISTRIBUTION }}
          cache: sbt
      - uses: sbt/setup-sbt@v1

      - name: Build for ${{ env.GH_SCALA_BINARY_VERSION }}
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        run: |
          export CI_BRANCH="${GITHUB_REF#refs/heads/}"
          .github/workflows/sbt-build.sh ${{ matrix.scala.coveralls }}

  sbt-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: ${{ env.GH_JAVA_VERSION }}
          distribution: ${{ env.GH_JAVA_DISTRIBUTION }}
          cache: sbt
      - uses: sbt/setup-sbt@v1

      - name: Build for ${{ env.GH_SCALA_BINARY_VERSION }}
        env:
          JAVA_OPTS: ${{ env.GH_JAVA_OPTS }}
          JVM_OPTS: ${{ env.GH_JAVA_OPTS }}
          SBT_OPTS: ${{ env.GH_JAVA_OPTS }}
        run: |
          export CI_BRANCH="${GITHUB_REF#refs/heads/}"
          sbt \
            clean \
            scripted
